.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


.small_img_100
{
    width: 100px;
}

.small_img_50
{
    width: 50px;
}

.tableImagejCrop img
{
    width: 50px;
    height: 50px;
    margin: 1px;
}



div.thumbnail div.text
{
    text-decoration: none;
    background-color: green;
    border: 1px solid green;
    border-radius: 4px;
    margin-top: 1px;
    padding: 7px;
}

div.thumbnail div.text:hover
{
    background-color: #fff;
    color: green;
}

div.thumbnail div.text:hover p
{
    color: green;
}

div.thumbnail p
{
    color: #fff;
    font-size: 16px;
}

div.thumbnail p:hover
{
    color: green;
}

div.thumbnail img {
    min-width: 120px;

    width: 100%;

    max-width: 250px;
    height: 204px;
}

div.thumbnail a
{
    text-decoration: none;
}

div.thumbnail a:hover
{
    color: #008000;
}
